#define IDD_DIALOG 1000
#define IDC_CLICKME 1001
#define IDC_STC1 1002
IDD_DIALOG DIALOGEX 5,5,234,68
CAPTION "SacaraVm"
FONT 9,"Segoe UI",400,0
CLASS "DLGCLASS"
STYLE 0x10CE0800
EXSTYLE 0x00000000
BEGIN
  CONTROL "Click Me",IDC_CLICKME,"Button",0x50010000,57,29,123,16,0x00000000
  CONTROL "SacaraVm InvokeNativeFunction from SacaraVm.Dll",IDC_STC1,"Static",0x50000201,5,8,223,11,0x00000000
END
